/*
Font
=========================== */
$font-primary: 'Roboto', sans-serif;

/*
Color
=========================== */
$color-title: #1d1d1d;
$color-content: #444444;
$color-gray: #dfdfdf;
$color-bg-gray: #fafafa;
$color1: #fadc73;
$color2: #e6a933;
$color3: #df9c19;
$color4: #f2a105;
