#wa-compimage-ke2k60e71dt05sl2io {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ke2k60e71dt05soydc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k6m0vzw01drbps90qo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ke2v6kx61dt05lxce8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2v6kx61dt05lxce8>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2v6kx61dt05lxce8>.wa-container-vspacer {height:0px;}
#wa-container-ke2v6kx81dt05n83r4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2v6kx81dt05n83r4>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2v6kx81dt05n83r4>.wa-container-vspacer {height:0px;}
#wa-image-gallery-col-container-k8k8d03e1dtmsefedc {margin: -10px 0px;padding:0px 0px 0px 0px;}
#wa-image-gallery-col-container-k8k8ikzp1dtlk03xow {margin: -9px 0px;padding:0px 0px 0px 0px;}
#wa-image-gallery-row-k8k8d03e1dtmsefedc {margin:0px -10px;}
#wa-image-gallery-row-k8k8d03e1dtmsefedc>div {padding: 10px;}
#wa-image-gallery-row-k8k8ikzp1dtlk03xow {margin:0px -9px;}
#wa-image-gallery-row-k8k8ikzp1dtlk03xow>div {padding: 9px;}
#wa-row-k6m0vzw01dra3vikm8 {margin:0px 0px;}
#wa-row-k6m0vzw01dra3vikm8>div {padding: 0px 0px;}
#wa-row-k8k893241dtmsfgci8 {margin:0px 0px;}
#wa-row-k8k893241dtmsfgci8>div {padding: 0px 0px;}
#wa-row-ke2k60e711eyflofc0 {margin:0px 0px;}
#wa-row-ke2k60e711eyflofc0>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k6m0vzw01dra3vikm8 {margin:0px 0px;}
#wa-row-k6m0vzw01dra3vikm8>div {padding: 0px 0px;}
#wa-row-k8k893241dtmsfgci8 {margin:0px 0px;}
#wa-row-k8k893241dtmsfgci8>div {padding: 0px 0px;}
#wa-row-ke2k60e711eyflofc0 {margin:0px 0px;}
#wa-row-ke2k60e711eyflofc0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k6m0vzw01dra3vikm8 {margin:0px 0px;}
#wa-row-k6m0vzw01dra3vikm8>div {padding: 0px 0px;}
#wa-row-k8k893241dtmsfgci8 {margin:0px 0px;}
#wa-row-k8k893241dtmsfgci8>div {padding: 0px 0px;}
#wa-row-ke2k60e711eyflofc0 {margin:0px 0px;}
#wa-row-ke2k60e711eyflofc0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k6m0vzw01dra3vikm8 {margin:0px 0px;}
#wa-row-k6m0vzw01dra3vikm8>div {padding: 0px 0px;}
#wa-row-k8k893241dtmsfgci8 {margin:0px 0px;}
#wa-row-k8k893241dtmsfgci8>div {padding: 0px 0px;}
#wa-row-ke2k60e711eyflofc0 {margin:0px 0px;}
#wa-row-ke2k60e711eyflofc0>div {padding: 0px 0px;}
}
