#wa-compimage-ke2k5bb91dt08fkdfk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ke2k5bb91dt08h4x6o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k6q7hzcj1dtiekx9ts {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ke2k58gv1dsz47gdmo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2k58gv1dsz47gdmo>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2k58gv1dsz47gdmo>.wa-container-vspacer {height:0px;}
#wa-container-ke2k58gv1dt05ne8zk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2k58gv1dt05ne8zk>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2k58gv1dt05ne8zk>.wa-container-vspacer {height:0px;}
#wa-row-k6q7hzcj1dtidpw70g {margin:0px 0px;}
#wa-row-k6q7hzcj1dtidpw70g>div {padding: 0px 0px;}
#wa-row-ke2k5bb911eyflj8o0 {margin:0px 0px;}
#wa-row-ke2k5bb911eyflj8o0>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k6q7hzcj1dtidpw70g {margin:0px 0px;}
#wa-row-k6q7hzcj1dtidpw70g>div {padding: 0px 0px;}
#wa-row-ke2k5bb911eyflj8o0 {margin:0px 0px;}
#wa-row-ke2k5bb911eyflj8o0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k6q7hzcj1dtidpw70g {margin:0px 0px;}
#wa-row-k6q7hzcj1dtidpw70g>div {padding: 0px 0px;}
#wa-row-ke2k5bb911eyflj8o0 {margin:0px 0px;}
#wa-row-ke2k5bb911eyflj8o0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k6q7hzcj1dtidpw70g {margin:0px 0px;}
#wa-row-k6q7hzcj1dtidpw70g>div {padding: 0px 0px;}
#wa-row-ke2k5bb911eyflj8o0 {margin:0px 0px;}
#wa-row-ke2k5bb911eyflj8o0>div {padding: 0px 0px;}
}
