#wa-compimage-ke2k5iwo1dt08b1af4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ke2k5iwo1dt08bp6v4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k8kap5n61dtmv28w00 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ke2v5dyh1dt05t6mtc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2v5dyh1dt05t6mtc>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2v5dyh1dt05t6mtc>.wa-container-vspacer {height:0px;}
#wa-container-ke2v5dyi1dt05t6oe8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2v5dyi1dt05t6oe8>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2v5dyi1dt05t6oe8>.wa-container-vspacer {height:0px;}
#wa-row-k8kap5n61dtmses2ww {margin:0px 0px;}
#wa-row-k8kap5n61dtmses2ww>div {padding: 0px 0px;}
#wa-row-ke2k5iwo11eyflnor4 {margin:0px 0px;}
#wa-row-ke2k5iwo11eyflnor4>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k8kap5n61dtmses2ww {margin:0px 0px;}
#wa-row-k8kap5n61dtmses2ww>div {padding: 0px 0px;}
#wa-row-ke2k5iwo11eyflnor4 {margin:0px 0px;}
#wa-row-ke2k5iwo11eyflnor4>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k8kap5n61dtmses2ww {margin:0px 0px;}
#wa-row-k8kap5n61dtmses2ww>div {padding: 0px 0px;}
#wa-row-ke2k5iwo11eyflnor4 {margin:0px 0px;}
#wa-row-ke2k5iwo11eyflnor4>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k8kap5n61dtmses2ww {margin:0px 0px;}
#wa-row-k8kap5n61dtmses2ww>div {padding: 0px 0px;}
#wa-row-ke2k5iwo11eyflnor4 {margin:0px 0px;}
#wa-row-ke2k5iwo11eyflnor4>div {padding: 0px 0px;}
}
