#wa-compimage-k6i2dy0q1dpz4dvaio {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-container-k6q9h2ws1dtidv9on4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6q9h2ws1dtidv9on4>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6q9h2ws1dtidv9on4>.wa-container-vspacer {height:0px;}
#wa-container-k6q9h2wt1dtidvm2o0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6q9h2wt1dtidvm2o0>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6q9h2wt1dtidvm2o0>.wa-container-vspacer {height:0px;}
#wa-row-k6hminte1drnr8fdog {margin:0px 0px;}
#wa-row-k6hminte1drnr8fdog>div {padding: 0px 0px;}
#wa-row-k6i20vig1dpz46uvw0 {margin:0px 0px;}
#wa-row-k6i20vig1dpz46uvw0>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k6hminte1drnr8fdog {margin:0px 0px;}
#wa-row-k6hminte1drnr8fdog>div {padding: 0px 0px;}
#wa-row-k6i20vig1dpz46uvw0 {margin:0px 0px;}
#wa-row-k6i20vig1dpz46uvw0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k6hminte1drnr8fdog {margin:0px 0px;}
#wa-row-k6hminte1drnr8fdog>div {padding: 0px 0px;}
#wa-row-k6i20vig1dpz46uvw0 {margin:0px 0px;}
#wa-row-k6i20vig1dpz46uvw0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k6hminte1drnr8fdog {margin:0px 0px;}
#wa-row-k6hminte1drnr8fdog>div {padding: 0px 0px;}
#wa-row-k6i20vig1dpz46uvw0 {margin:0px 0px;}
#wa-row-k6i20vig1dpz46uvw0>div {padding: 0px 0px;}
}
