#wa-compimage-k6m1u0by1drbq01m2o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k6m1u0by1drbpxiccg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-k6m1u0by1drbpyhvy8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-k6qmhlrw1dsqx01t6o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6qmhlrw1dsqx01t6o>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6qmhlrw1dsqx01t6o>.wa-container-vspacer {height:0px;}
#wa-container-k6qmhlrx1dsqx0xr7k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6qmhlrx1dsqx0xr7k>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6qmhlrx1dsqx0xr7k>.wa-container-vspacer {height:0px;}
#wa-container-k6qmhlrx1dsqx1241s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6qmhlrx1dsqx1241s>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6qmhlrx1dsqx1241s>.wa-container-vspacer {height:0px;}
#wa-row-k6m1u0by1dra3v6cmo {margin:0px 0px;}
#wa-row-k6m1u0by1dra3v6cmo>div {padding: 0px 0px;}
#wa-row-k6m1u0by1drbpmaoq8 {margin:0px 0px;}
#wa-row-k6m1u0by1drbpmaoq8>div {padding: 0px 0px;}
#wa-row-k6m1u0by1drbpme5ww {margin:0px 0px;}
#wa-row-k6m1u0by1drbpme5ww>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k6m1u0by1dra3v6cmo {margin:0px 0px;}
#wa-row-k6m1u0by1dra3v6cmo>div {padding: 0px 0px;}
#wa-row-k6m1u0by1drbpmaoq8 {margin:0px 0px;}
#wa-row-k6m1u0by1drbpmaoq8>div {padding: 0px 0px;}
#wa-row-k6m1u0by1drbpme5ww {margin:0px 0px;}
#wa-row-k6m1u0by1drbpme5ww>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k6m1u0by1dra3v6cmo {margin:0px 0px;}
#wa-row-k6m1u0by1dra3v6cmo>div {padding: 0px 0px;}
#wa-row-k6m1u0by1drbpmaoq8 {margin:0px 0px;}
#wa-row-k6m1u0by1drbpmaoq8>div {padding: 0px 0px;}
#wa-row-k6m1u0by1drbpme5ww {margin:0px 0px;}
#wa-row-k6m1u0by1drbpme5ww>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k6m1u0by1dra3v6cmo {margin:0px 0px;}
#wa-row-k6m1u0by1dra3v6cmo>div {padding: 0px 0px;}
#wa-row-k6m1u0by1drbpmaoq8 {margin:0px 0px;}
#wa-row-k6m1u0by1drbpmaoq8>div {padding: 0px 0px;}
#wa-row-k6m1u0by1drbpme5ww {margin:0px 0px;}
#wa-row-k6m1u0by1drbpme5ww>div {padding: 0px 0px;}
}
