#wa-compimage-ke2k5sg61dt012wsg0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ke2k5sg61dt012ygw0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k6m1u0by1drbpxiccg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ke2t44mj1dt08h1xq8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2t44mj1dt08h1xq8>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2t44mj1dt08h1xq8>.wa-container-vspacer {height:0px;}
#wa-container-ke2t44mk1dt08gww00 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2t44mk1dt08gww00>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2t44mk1dt08gww00>.wa-container-vspacer {height:0px;}
#wa-row-k6m1u0by1drbpme5ww {margin:0px 0px;}
#wa-row-k6m1u0by1drbpme5ww>div {padding: 0px 0px;}
#wa-row-ke2k5sg611eyfllyu8 {margin:0px 0px;}
#wa-row-ke2k5sg611eyfllyu8>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k6m1u0by1drbpme5ww {margin:0px 0px;}
#wa-row-k6m1u0by1drbpme5ww>div {padding: 0px 0px;}
#wa-row-ke2k5sg611eyfllyu8 {margin:0px 0px;}
#wa-row-ke2k5sg611eyfllyu8>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k6m1u0by1drbpme5ww {margin:0px 0px;}
#wa-row-k6m1u0by1drbpme5ww>div {padding: 0px 0px;}
#wa-row-ke2k5sg611eyfllyu8 {margin:0px 0px;}
#wa-row-ke2k5sg611eyfllyu8>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k6m1u0by1drbpme5ww {margin:0px 0px;}
#wa-row-k6m1u0by1drbpme5ww>div {padding: 0px 0px;}
#wa-row-ke2k5sg611eyfllyu8 {margin:0px 0px;}
#wa-row-ke2k5sg611eyfllyu8>div {padding: 0px 0px;}
}
