#wa-compimage-k6m8xx5x1dra3yz9q8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-k6m8xx5x1drbpzmtj4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-k6m9314a1drbps8we8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-k6ma2plf1drbtjx1q8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k6m8xx5x1drbpyh9fk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-k6m8xx5x1drbq01m2o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-k6ma3y3r1drbpyyz28 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-k6q9j4bj1dtielwoow {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6q9j4bj1dtielwoow>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6q9j4bj1dtielwoow>.wa-container-vspacer {height:0px;}
#wa-container-k6q9j4bk1dtiekubk0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6q9j4bk1dtiekubk0>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6q9j4bk1dtiekubk0>.wa-container-vspacer {height:0px;}
#wa-container-k6q9j4bl1dtiem6n0g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6q9j4bl1dtiem6n0g>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6q9j4bl1dtiem6n0g>.wa-container-vspacer {height:0px;}
#wa-container-k6q9j4bm1dtiek701s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6q9j4bm1dtiek701s>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6q9j4bm1dtiek701s>.wa-container-vspacer {height:0px;}
#wa-row-k6m8xx5x1dra3v1zpc {margin:0px 0px;}
#wa-row-k6m8xx5x1dra3v1zpc>div {padding: 0px 0px;}
#wa-row-k6m8xx5x1drbpmckr4 {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmckr4>div {padding: 0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk>div {padding: 0px 0px;}
#wa-row-k6m9314a1dra3voj4w {margin:0px 0px;}
#wa-row-k6m9314a1dra3voj4w>div {padding: 0px 0px;}
#wa-row-k6ma2plf1drbq7s30w {margin:0px 0px;}
#wa-row-k6ma2plf1drbq7s30w>div {padding: 0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w {margin:0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k6m8xx5x1dra3v1zpc {margin:0px 0px;}
#wa-row-k6m8xx5x1dra3v1zpc>div {padding: 0px 0px;}
#wa-row-k6m8xx5x1drbpmckr4 {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmckr4>div {padding: 0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk>div {padding: 0px 0px;}
#wa-row-k6m9314a1dra3voj4w {margin:0px 0px;}
#wa-row-k6m9314a1dra3voj4w>div {padding: 0px 0px;}
#wa-row-k6ma2plf1drbq7s30w {margin:0px 0px;}
#wa-row-k6ma2plf1drbq7s30w>div {padding: 0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w {margin:0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k6m8xx5x1dra3v1zpc {margin:0px 0px;}
#wa-row-k6m8xx5x1dra3v1zpc>div {padding: 0px 0px;}
#wa-row-k6m8xx5x1drbpmckr4 {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmckr4>div {padding: 0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk>div {padding: 0px 0px;}
#wa-row-k6m9314a1dra3voj4w {margin:0px 0px;}
#wa-row-k6m9314a1dra3voj4w>div {padding: 0px 0px;}
#wa-row-k6ma2plf1drbq7s30w {margin:0px 0px;}
#wa-row-k6ma2plf1drbq7s30w>div {padding: 0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w {margin:0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k6m8xx5x1dra3v1zpc {margin:0px 0px;}
#wa-row-k6m8xx5x1dra3v1zpc>div {padding: 0px 0px;}
#wa-row-k6m8xx5x1drbpmckr4 {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmckr4>div {padding: 0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk>div {padding: 0px 0px;}
#wa-row-k6m9314a1dra3voj4w {margin:0px 0px;}
#wa-row-k6m9314a1dra3voj4w>div {padding: 0px 0px;}
#wa-row-k6ma2plf1drbq7s30w {margin:0px 0px;}
#wa-row-k6ma2plf1drbq7s30w>div {padding: 0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w {margin:0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w>div {padding: 0px 0px;}
}
