#wa-compimage-ke2k523c1dt05iritc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ke2k523c1dt05k68sg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k8kase7p1dtmuy4wzk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ke2vau811dt08ky134 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2vau811dt08ky134>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2vau811dt08ky134>.wa-container-vspacer {height:0px;}
#wa-container-ke2vau821dt08ktreo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2vau821dt08ktreo>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2vau821dt08ktreo>.wa-container-vspacer {height:0px;}
#wa-row-k8kase7p1dtlfk06bk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk06bk>div {padding: 0px 0px;}
#wa-row-ke2k523c11eyflj9yo {margin:0px 0px;}
#wa-row-ke2k523c11eyflj9yo>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k8kase7p1dtlfk06bk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk06bk>div {padding: 0px 0px;}
#wa-row-ke2k523c11eyflj9yo {margin:0px 0px;}
#wa-row-ke2k523c11eyflj9yo>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k8kase7p1dtlfk06bk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk06bk>div {padding: 0px 0px;}
#wa-row-ke2k523c11eyflj9yo {margin:0px 0px;}
#wa-row-ke2k523c11eyflj9yo>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k8kase7p1dtlfk06bk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk06bk>div {padding: 0px 0px;}
#wa-row-ke2k523c11eyflj9yo {margin:0px 0px;}
#wa-row-ke2k523c11eyflj9yo>div {padding: 0px 0px;}
}
