#wa-compimage-ke2k7buf1dt08ktvcw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ke2k7buf1dt08kwt8g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k8kakxbg1dtmv1t2ps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ke2v7s811dt018f7y8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2v7s811dt018f7y8>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2v7s811dt018f7y8>.wa-container-vspacer {height:0px;}
#wa-container-ke2v7s821dt018jfnk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2v7s821dt018jfnk>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2v7s821dt018jfnk>.wa-container-vspacer {height:0px;}
#wa-row-k8kakxbg1dtmseqb0g {margin:0px 0px;}
#wa-row-k8kakxbg1dtmseqb0g>div {padding: 0px 0px;}
#wa-row-ke2k7buf11eyflmmgg {margin:0px 0px;}
#wa-row-ke2k7buf11eyflmmgg>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k8kakxbg1dtmseqb0g {margin:0px 0px;}
#wa-row-k8kakxbg1dtmseqb0g>div {padding: 0px 0px;}
#wa-row-ke2k7buf11eyflmmgg {margin:0px 0px;}
#wa-row-ke2k7buf11eyflmmgg>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k8kakxbg1dtmseqb0g {margin:0px 0px;}
#wa-row-k8kakxbg1dtmseqb0g>div {padding: 0px 0px;}
#wa-row-ke2k7buf11eyflmmgg {margin:0px 0px;}
#wa-row-ke2k7buf11eyflmmgg>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k8kakxbg1dtmseqb0g {margin:0px 0px;}
#wa-row-k8kakxbg1dtmseqb0g>div {padding: 0px 0px;}
#wa-row-ke2k7buf11eyflmmgg {margin:0px 0px;}
#wa-row-ke2k7buf11eyflmmgg>div {padding: 0px 0px;}
}
