#wa-compimage-k6q98ur71dtiem0wsg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k6q98ur71dtiel01ds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-k6q98ur71dtielirr4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-k6qmjpj81dsqx3b6rk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6qmjpj81dsqx3b6rk>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6qmjpj81dsqx3b6rk>.wa-container-vspacer {height:0px;}
#wa-container-k6qmjpj91dsqx1k16o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6qmjpj91dsqx1k16o>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6qmjpj91dsqx1k16o>.wa-container-vspacer {height:0px;}
#wa-container-k6qmjpj91dsqx3lqtc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k6qmjpj91dsqx3lqtc>.row>.clearfix {margin-bottom:0px;}
#wa-container-k6qmjpj91dsqx3lqtc>.wa-container-vspacer {height:0px;}
#wa-row-k6q98ur71dthfbytww {margin:0px 0px;}
#wa-row-k6q98ur71dthfbytww>div {padding: 0px 0px;}
#wa-row-k6q98ur71dthfbziq8 {margin:0px 0px;}
#wa-row-k6q98ur71dthfbziq8>div {padding: 0px 0px;}
#wa-row-k6q98ur71dtidptkb4 {margin:0px 0px;}
#wa-row-k6q98ur71dtidptkb4>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k6q98ur71dthfbytww {margin:0px 0px;}
#wa-row-k6q98ur71dthfbytww>div {padding: 0px 0px;}
#wa-row-k6q98ur71dthfbziq8 {margin:0px 0px;}
#wa-row-k6q98ur71dthfbziq8>div {padding: 0px 0px;}
#wa-row-k6q98ur71dtidptkb4 {margin:0px 0px;}
#wa-row-k6q98ur71dtidptkb4>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k6q98ur71dthfbytww {margin:0px 0px;}
#wa-row-k6q98ur71dthfbytww>div {padding: 0px 0px;}
#wa-row-k6q98ur71dthfbziq8 {margin:0px 0px;}
#wa-row-k6q98ur71dthfbziq8>div {padding: 0px 0px;}
#wa-row-k6q98ur71dtidptkb4 {margin:0px 0px;}
#wa-row-k6q98ur71dtidptkb4>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k6q98ur71dthfbytww {margin:0px 0px;}
#wa-row-k6q98ur71dthfbytww>div {padding: 0px 0px;}
#wa-row-k6q98ur71dthfbziq8 {margin:0px 0px;}
#wa-row-k6q98ur71dthfbziq8>div {padding: 0px 0px;}
#wa-row-k6q98ur71dtidptkb4 {margin:0px 0px;}
#wa-row-k6q98ur71dtidptkb4>div {padding: 0px 0px;}
}
