#wa-compimage-k8kase7p1dtmv0p5vk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k8kase7p1dtmuy4wzk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-k8kase7p1dtmv0d1q8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-k8kasmi01dtmsh6874 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k8kasmi01dtmsh6874>.row>.clearfix {margin-bottom:0px;}
#wa-container-k8kasmi01dtmsh6874>.wa-container-vspacer {height:0px;}
#wa-container-k8kasmi11dtmsh69s0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k8kasmi11dtmsh69s0>.row>.clearfix {margin-bottom:0px;}
#wa-container-k8kasmi11dtmsh69s0>.wa-container-vspacer {height:0px;}
#wa-container-k8kasmi11dtmsh6cjk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k8kasmi11dtmsh6cjk>.row>.clearfix {margin-bottom:0px;}
#wa-container-k8kasmi11dtmsh6cjk>.wa-container-vspacer {height:0px;}
#wa-row-k8kase7p1dtlfjtbfk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfjtbfk>div {padding: 0px 0px;}
#wa-row-k8kase7p1dtlfk06bk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk06bk>div {padding: 0px 0px;}
#wa-row-k8kase7p1dtlfk2tds {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk2tds>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k8kase7p1dtlfjtbfk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfjtbfk>div {padding: 0px 0px;}
#wa-row-k8kase7p1dtlfk06bk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk06bk>div {padding: 0px 0px;}
#wa-row-k8kase7p1dtlfk2tds {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk2tds>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k8kase7p1dtlfjtbfk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfjtbfk>div {padding: 0px 0px;}
#wa-row-k8kase7p1dtlfk06bk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk06bk>div {padding: 0px 0px;}
#wa-row-k8kase7p1dtlfk2tds {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk2tds>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k8kase7p1dtlfjtbfk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfjtbfk>div {padding: 0px 0px;}
#wa-row-k8kase7p1dtlfk06bk {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk06bk>div {padding: 0px 0px;}
#wa-row-k8kase7p1dtlfk2tds {margin:0px 0px;}
#wa-row-k8kase7p1dtlfk2tds>div {padding: 0px 0px;}
}
