#wa-compimage-k6m9314a1drbps8we8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-k6ma2plf1drbtjx1q8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ke2k6prs1dt017sk5c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ke2k6prs1dt017z3ls {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k6m8xx5x1drbq01m2o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-k6ma3y3r1drbpyyz28 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ke2k6m711dt08b46ps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2k6m711dt08b46ps>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2k6m711dt08b46ps>.wa-container-vspacer {height:0px;}
#wa-container-ke2k6m711dt08bmtxc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2k6m711dt08bmtxc>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2k6m711dt08bmtxc>.wa-container-vspacer {height:0px;}
#wa-container-ke2k6m731dt08bmwow {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2k6m731dt08bmwow>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2k6m731dt08bmwow>.wa-container-vspacer {height:0px;}
#wa-row-k6m8xx5x1drbpmekzk {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk>div {padding: 0px 0px;}
#wa-row-k6m9314a1dra3voj4w {margin:0px 0px;}
#wa-row-k6m9314a1dra3voj4w>div {padding: 0px 0px;}
#wa-row-k6ma2plf1drbq7s30w {margin:0px 0px;}
#wa-row-k6ma2plf1drbq7s30w>div {padding: 0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w {margin:0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w>div {padding: 0px 0px;}
#wa-row-ke2k6prs11eyflk65c {margin:0px 0px;}
#wa-row-ke2k6prs11eyflk65c>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k6m8xx5x1drbpmekzk {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk>div {padding: 0px 0px;}
#wa-row-k6m9314a1dra3voj4w {margin:0px 0px;}
#wa-row-k6m9314a1dra3voj4w>div {padding: 0px 0px;}
#wa-row-k6ma2plf1drbq7s30w {margin:0px 0px;}
#wa-row-k6ma2plf1drbq7s30w>div {padding: 0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w {margin:0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w>div {padding: 0px 0px;}
#wa-row-ke2k6prs11eyflk65c {margin:0px 0px;}
#wa-row-ke2k6prs11eyflk65c>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k6m8xx5x1drbpmekzk {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk>div {padding: 0px 0px;}
#wa-row-k6m9314a1dra3voj4w {margin:0px 0px;}
#wa-row-k6m9314a1dra3voj4w>div {padding: 0px 0px;}
#wa-row-k6ma2plf1drbq7s30w {margin:0px 0px;}
#wa-row-k6ma2plf1drbq7s30w>div {padding: 0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w {margin:0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w>div {padding: 0px 0px;}
#wa-row-ke2k6prs11eyflk65c {margin:0px 0px;}
#wa-row-ke2k6prs11eyflk65c>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k6m8xx5x1drbpmekzk {margin:0px 0px;}
#wa-row-k6m8xx5x1drbpmekzk>div {padding: 0px 0px;}
#wa-row-k6m9314a1dra3voj4w {margin:0px 0px;}
#wa-row-k6m9314a1dra3voj4w>div {padding: 0px 0px;}
#wa-row-k6ma2plf1drbq7s30w {margin:0px 0px;}
#wa-row-k6ma2plf1drbq7s30w>div {padding: 0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w {margin:0px 0px;}
#wa-row-k6ma3y3s1dvvp9rk4w>div {padding: 0px 0px;}
#wa-row-ke2k6prs11eyflk65c {margin:0px 0px;}
#wa-row-ke2k6prs11eyflk65c>div {padding: 0px 0px;}
}
