#wa-compimage-k8kap5n61dtmv0jqps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k8kap5n61dtmv07pq8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-k8kap5n61dtmv28w00 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-k8kaphvd1dtmuy4wzk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k8kaphvd1dtmuy4wzk>.row>.clearfix {margin-bottom:0px;}
#wa-container-k8kaphvd1dtmuy4wzk>.wa-container-vspacer {height:0px;}
#wa-container-k8kaphvd1dtmv1yyv4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k8kaphvd1dtmv1yyv4>.row>.clearfix {margin-bottom:0px;}
#wa-container-k8kaphvd1dtmv1yyv4>.wa-container-vspacer {height:0px;}
#wa-container-k8kaphve1dtmuy51q8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k8kaphve1dtmuy51q8>.row>.clearfix {margin-bottom:0px;}
#wa-container-k8kaphve1dtmuy51q8>.wa-container-vspacer {height:0px;}
#wa-row-k8kap5n61dtlfjlvjk {margin:0px 0px;}
#wa-row-k8kap5n61dtlfjlvjk>div {padding: 0px 0px;}
#wa-row-k8kap5n61dtlfjtq9s {margin:0px 0px;}
#wa-row-k8kap5n61dtlfjtq9s>div {padding: 0px 0px;}
#wa-row-k8kap5n61dtmses2ww {margin:0px 0px;}
#wa-row-k8kap5n61dtmses2ww>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k8kap5n61dtlfjlvjk {margin:0px 0px;}
#wa-row-k8kap5n61dtlfjlvjk>div {padding: 0px 0px;}
#wa-row-k8kap5n61dtlfjtq9s {margin:0px 0px;}
#wa-row-k8kap5n61dtlfjtq9s>div {padding: 0px 0px;}
#wa-row-k8kap5n61dtmses2ww {margin:0px 0px;}
#wa-row-k8kap5n61dtmses2ww>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k8kap5n61dtlfjlvjk {margin:0px 0px;}
#wa-row-k8kap5n61dtlfjlvjk>div {padding: 0px 0px;}
#wa-row-k8kap5n61dtlfjtq9s {margin:0px 0px;}
#wa-row-k8kap5n61dtlfjtq9s>div {padding: 0px 0px;}
#wa-row-k8kap5n61dtmses2ww {margin:0px 0px;}
#wa-row-k8kap5n61dtmses2ww>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k8kap5n61dtlfjlvjk {margin:0px 0px;}
#wa-row-k8kap5n61dtlfjlvjk>div {padding: 0px 0px;}
#wa-row-k8kap5n61dtlfjtq9s {margin:0px 0px;}
#wa-row-k8kap5n61dtlfjtq9s>div {padding: 0px 0px;}
#wa-row-k8kap5n61dtmses2ww {margin:0px 0px;}
#wa-row-k8kap5n61dtmses2ww>div {padding: 0px 0px;}
}
