#wa-compimage-ke2k7kl41dt08azny8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-ke2k7kl41dt08azp4w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-k8kcx5661dtmuziuww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ke2vcwgy1dt05jj5z4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2vcwgy1dt05jj5z4>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2vcwgy1dt05jj5z4>.wa-container-vspacer {height:0px;}
#wa-container-ke2vcwgz1dt05mxz40 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ke2vcwgz1dt05mxz40>.row>.clearfix {margin-bottom:0px;}
#wa-container-ke2vcwgz1dt05mxz40>.wa-container-vspacer {height:0px;}
#wa-row-k8kcx5661dtlfjtd0g {margin:0px 0px;}
#wa-row-k8kcx5661dtlfjtd0g>div {padding: 0px 0px;}
#wa-row-ke2k7kl411eyfll5hc {margin:0px 0px;}
#wa-row-ke2k7kl411eyfll5hc>div {padding: 0px 0px;}
html body {width:100%; height:100%;background-color:#ffffff;}
@media (min-width: 768px){
#wa-row-k8kcx5661dtlfjtd0g {margin:0px 0px;}
#wa-row-k8kcx5661dtlfjtd0g>div {padding: 0px 0px;}
#wa-row-ke2k7kl411eyfll5hc {margin:0px 0px;}
#wa-row-ke2k7kl411eyfll5hc>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-k8kcx5661dtlfjtd0g {margin:0px 0px;}
#wa-row-k8kcx5661dtlfjtd0g>div {padding: 0px 0px;}
#wa-row-ke2k7kl411eyfll5hc {margin:0px 0px;}
#wa-row-ke2k7kl411eyfll5hc>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-k8kcx5661dtlfjtd0g {margin:0px 0px;}
#wa-row-k8kcx5661dtlfjtd0g>div {padding: 0px 0px;}
#wa-row-ke2k7kl411eyfll5hc {margin:0px 0px;}
#wa-row-ke2k7kl411eyfll5hc>div {padding: 0px 0px;}
}
